a.menu-item {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 15px;
}

a.menu-item:hover {
    background: linear-gradient(to right, rgb(189, 189, 189) , rgb(211, 42, 42));
}