a.menu-item {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 15px;
}

a.menu-item:hover {
    background: linear-gradient(135deg, #07A7E3 0%, #32DAC3 100%);
}